/* Zmienne globalne */
:root {
    --bg-H: 0;
    --bg-S: 0%;
    --bg-L: 15%;
    --navbar-border-color: #077;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
body {
    font-family: sans-serif;
    background-color: hsl(
        calc(var(--bg-H)), 
        calc(var(--bg-S)), 
        calc(var(--bg-L))
        );
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}
body > *{
    width: 50%;
}
body > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    background-color: hsl(
        calc(var(--bg-H)), 
        calc(var(--bg-S)), 
        calc(var(--bg-L) + 7%)
        );
}
/* Navbar */
nav {
    align-self: stretch;
}
ul.menu {
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) + 5%));
    display: flex;
    list-style-type: none;
    margin-top: 1em;
    justify-content: center;
}
ul.menu li{
    border-left: var(--navbar-border-color) dotted 0.2em;
}
ul.menu li:last-child{
    border-right: var(--navbar-border-color) dotted 0.2em;
}
.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1em;
}
.menu a:hover {
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) - 5%));
}
/* Body Header */
body > header > div {
    width: 50%;
    background-color: var(--navbar-border-color);
    padding: 5em 0 2em;
}
h1 {
    font-size: 9em;
    color: #dd0;
}
body > header p{
    font-size: 1.3em;
    margin-bottom: 2rem;
}
ul.media {
    list-style-type: none;
}
ul.media li{
    display: inline;
}
ul.media a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    text-align: center;
}
#contact-cv{
    display: flex;
    justify-content: space-around;
}
#contact-cv button{
    background-image: linear-gradient(to right, #f60, #f90);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 1em;
    padding: calc(0.5em + 0.2rem) calc(1em + 0.2rem);
    text-decoration: none;
}
#contact-cv button:hover{
    color: orange;
    background: white;
    padding: 0.5em 1em;
    border: 0.2rem solid #f90;
}
/* Sections */
article > section {
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) + 2%));
    box-sizing: border-box;
    padding: 1em 3em;
    margin: 3rem 0;
}
h2 {
    font-size: 3rem;
    margin-bottom: 1em;
}
/* About me */
#about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;

    
}
#about-me > ul {
    list-style-type: none;
    text-align: left;
    align-self: center;
}
#about-me li span {
    color: orange;
}
#about-me > div {
    box-sizing: border-box;
    padding: 1em;
    text-align: justify;
    border-left: 0.2rem dotted #077;
}
/* Skills */
#skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#skills > div{
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#skills > div:nth-child(2n){
    background-color: #400;
}
#skills > div:nth-child(2n+1){
    background-color: #040;
}
h3 {
    font-size: 2rem;
}
#skills > div > p:first-of-type{
    padding: 2rem 0;
}
#skills ul {
    list-style-type: none;
}
#skills li {
    display: inline-block;
    margin: 0.3em 1em;
    background-color: hsl(var(--bg-H), var(--bg-S), var(--bg-L));
    padding: 0.5rem;
}
/* Projects */
#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#projects > section{
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#projects > section:nth-of-type(4n+1){
    background-color: rgb(156, 146, 6);
}
#projects > section:nth-of-type(4n+2){
    background-color: rgb(7, 17, 112);
}
#projects > section:nth-of-type(4n+3){
    background-color: rgb(7, 17, 112);
}
#projects > section:nth-of-type(4n){
    background-color: rgb(156, 146, 6);
}
#projects p:nth-of-type(2){
    text-align: justify;
}
p.date {
    color: lightgrey;
    line-height: 1;
}
#projects > section > header {
    margin-bottom: 3em;
}
/* Contact */
#contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#contact > div {
    padding: 1rem;
}
#contact h3 {
    margin-bottom: 1rem;
}
#contact > div:first-child{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 0.2rem dotted #077;
}
#contact ul{
    list-style-type: none;
    text-align: left;
}
#contact form{
    display: flex;
    flex-direction: column;
}
#contact input{
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.2rem solid #fff;
}
#contact input:focus{
    border-color: #f90;
}
#contact textarea{
    resize: none;
    font-family: inherit;
    height: 7em;
    padding: 1em;
    margin: 0.5rem;
}
#contact input[type="submit"]{
    box-sizing: content-box;
    align-self: center;
    background-image: linear-gradient(to right, #f60, #f90);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 2rem;
    padding: calc(1rem + 0.2rem) calc(2rem + 0.2rem);
}
#contact input[type="submit"]:hover{
    color: orange;
    background: white;
    padding: 1rem 2rem;
    border: 0.2rem solid #f90;
}
footer {
    box-sizing: border-box;
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) + 2%));
    padding: 1rem
}