/* Zmienne globalne */
:root {
    --bg-H: 0;
    --bg-S: 0%;
    --bg-L: 15%;
    --navbar-border-color: #077;
    --square-s: 10px;
    --fly-third: 33% - var(--square-s)/2;
    --fly-2thirds: 66% - var(--square-s)/2;
    --fly-end: 100% - var(--square-s);
    --fly-end2: 100% - var(--square-s)*2;
    --fly-end3: var(--square-s);
    --fly-properties: 10s linear 0s infinite alternate;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
body {
    font-family: sans-serif;
    background-color: hsl(
        calc(var(--bg-H)), 
        calc(var(--bg-S)), 
        calc(var(--bg-L))
        );
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.6;
}
body > *{
    width: 70%;
}
body > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    background-color: hsl(
        calc(var(--bg-H)), 
        calc(var(--bg-S)), 
        calc(var(--bg-L) + 7%)
        );
}
/* Animation */
#animation {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: hsl(var(--bg-H), var(--bg-S), var(--bg-L));
}
.square {
    position: absolute;
    width: var(--square-s);
    height: var(--square-s);
    background-color: #dd0;
    border-radius: 20%;
}
#square1 {
    top: 0%;
    left: 0%;
    background-color: yellow;
    animation: fly1 var(--fly-properties);
}
#square2 {
    top: 0%;
    right: 0%;
    background-color: pink;
    animation: fly2 var(--fly-properties);
}
#square3 {
    bottom: 0%;
    right: 0%;
    background-color: red;
    animation: fly3 var(--fly-properties);
}
#square4 {
    bottom: 0%;
    left: 0%;
    animation: fly4 var(--fly-properties);
    background-color: blue;
}
@keyframes fly1 {
    0% {
        top: 0;
        left: 0;
        transform: scale(1);
    }
    16% {
        background-color: yellow;
    }
    17% {
        background-color: green;
    }
    33% {
        top: calc(var(--fly-end2)); 
        left: calc(var(--fly-third));
        background-color: green;
    }
    49% {
        background-color: green;
    }
    50% {
        background-color: white;
        transform: scale(4);
    }
    66% {
        top: calc(var(--fly-end3)); 
        left: calc(var(--fly-2thirds));
    }
    100% {
        top: calc(var(--fly-end)); 
        left: calc(var(--fly-end));
        background-color: white;
        transform: scale(1);
    }
}
@keyframes fly2 {
    0% {
        top: 0; right: 0;
        transform: scale(1);
    }
    16% {
        background-color: pink;
    }
    17% {
        background-color: purple;
    }
    33% {
        top: calc(var(--fly-end2)); 
        right: calc(var(--fly-third));
    }
    49% {
        background-color: purple;
    }
    50% {
        background-color: white;
        transform: scale(4);
    }
    66% {
        top: calc(var(--fly-end3));
        right: calc(var(--fly-2thirds));
    }
    100% {
        top: calc(var(--fly-end)); 
        right: calc(var(--fly-end));
        background-color: white;
        transform: scale(1);
    }
}
@keyframes fly3 {
    0% {
        bottom: 0; 
        right: 0;
        transform: scale(1);
    }
    16% {
        background-color: red;
    }
    17% {
        background-color: purple;
    }
    33% {
        bottom: calc(var(--fly-end2)); 
        right: calc(var(--fly-third));
    }
    49% {
        background-color: purple;
    }
    50% {
        background-color: white;
        transform: scale(4);
    }
    66% {
        bottom: calc(var(--fly-end3)); 
        right: calc(var(--fly-2thirds));
    }
    100% {
        bottom: calc(var(--fly-end)); 
        right: calc(var(--fly-end));
        background-color: white;
        transform: scale(1);
    }
}
@keyframes fly4 {
    0% {
        bottom: 0; 
        left: 0;
        transform: scale(1);
    }
    16% {
        background-color: blue;
    }
    17% {
        background-color: green;
    }
    33% {
        bottom: calc(var(--fly-end2)); 
        left: calc(var(--fly-third));
    }
    49% {
        background-color: green;
    }
    50% {
        background-color: white;
        transform: scale(4);
    }
    66% {
        bottom: calc(var(--fly-end3)); 
        left: calc(var(--fly-2thirds));
    }
    100% {
        bottom: calc(var(--fly-end)); 
        left: calc(var(--fly-end));
        background-color: white;
        transform: scale(1);
    }
}
/* Navbar */
nav {
    align-self: stretch;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100% !important;
}
ul.menu {
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) + 5%));
    display: flex;
    list-style-type: none;
    justify-content: center;
}
ul.menu li{
    border-left: var(--navbar-border-color) dotted 0.2em;
}
ul.menu li:last-child{
    border-right: var(--navbar-border-color) dotted 0.2em;
}
.menu a {
    box-sizing: border-box;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1em;
    width: 100%;
    align-self: stretch;
}
.menu a:hover {
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) - 5%));
}
@media (min-width: 300px) and (max-width: 500px) {
    ul.menu {
        flex-wrap: wrap;
    }
    ul.menu li {
        box-sizing: border-box;
        width: 50%;
        border: none;
    }
    .menu a {
        padding: 0.5em 0;
    }
    ul.menu li:nth-child(2){
        border-left: var(--navbar-border-color) dotted 0.2em;
    }
    ul.menu li:nth-child(3){
        border-top: var(--navbar-border-color) dotted 0.2em;
    }
    ul.menu li:nth-child(4){
        border-right: none;
        border-left: var(--navbar-border-color) dotted 0.2em;
        border-top: var(--navbar-border-color) dotted 0.2em;
    }
}
@media (max-width: 300px) {
    ul.menu {
        flex-wrap: wrap;
    }
    .menu a {
        padding: 0.5em 0;
    }
    ul.menu li {
        box-sizing: border-box;
        width: 100%;
        border: none;
        border-top: var(--navbar-border-color) dotted 0.2em;
    }
    ul.menu li:first-child{
        border-top: none;
    }
    ul.menu li:last-child{
        border-right: none;
    }
}

/* Body Header */
body > header > div {
    width: 70%;
    background-color: var(--navbar-border-color);
    padding: 5em 0 2em;
}
h1 {
    font-size: 140px;
    color: #dd0;
    letter-spacing: 0.2em;
}
body > header p{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    padding: 0 2em;
}
ul.media {
    font-size: 3rem;
    list-style-type: none;
}
ul.media li{
    display: inline;
}
ul.media a{
    color: white;
    text-decoration: none;
    text-align: center;
}
#contact-cv{
    display: flex;
    justify-content: space-around;
}
button{
    background-image: linear-gradient(to right, #f60, #f90);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 2em;
    padding: calc(1rem + 3px) calc(2rem + 3px);
    text-decoration: none;
}
button:hover{
    color: orange;
    background: white;
    padding: 1rem 2rem;
    border: 3px solid #f90;
    pointer-events: inherit;
    cursor: pointer;
}
@media (max-width: 1300px){
    body > * {
        width: 90%;
    }
    body > header > div {
        width: 90%;
    }
    ul.media {
        margin: 1em 0;
    }
}
@media (max-width: 1100px){
    body > * {
        width: 100%;
    }
    body > header > div {
        width: 100%;
    }
}
@media (max-width: 750px){
    h1 {
        font-size: 80px;
    }
    button {
        font-size: 1.5rem;
    }
    
}
@media (max-width: 500px){
    body > header p {
        font-size: 1rem;
    }
    h1 {
        font-size: 60px;
    }
    ul.media {
        margin: 0.5em 0;
    }
    #contact-cv {
        flex-direction: column;
    }
    #contact-cv button{
        margin-top: 1rem;
    }
}
@media (max-width: 300px){
    h1 {
        font-size: 40px;
    }
}
/* Sections */
article > section {
    box-sizing: border-box;
    margin: 3rem 0;
}
article > section > div{
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) + 2%));
    padding: 1em 3em;
}
h2 {
    font-size: 3rem;
}
@media (max-width: 500px) {
    h2 {
        font-size: 2rem;
    }
}
@media (max-width: 300px) {
    article > section > div{
        padding: 1em 1em;
    }
}
/* About me */
#about-me {
    display: grid;
    grid-template-columns: 16em 1fr;
}
#about-me > ul {
    list-style-type: none;
    text-align: left;
    align-self: center;
}
#about-me li span {
    color: orange;
}
#about-me > div {
    box-sizing: border-box;
    padding: 1em;
    text-align: justify;
    border-left: 0.2rem dotted #077;
}
@media (max-width: 800px) {
    #about-me {
        grid-template: 6em 1fr / 1fr;
        justify-items: center;
        gap: 1rem;
    }
    #about-me > ul {
        text-align: center;
        padding: 1em;
        border:  0.2rem dotted #077;
    }
    #about-me > div {
        border-left: none;
        text-align-last: center;
    }
}
@media (max-width: 500px) {
    #about-me{
        font-size: 1rem;
        grid-template: 10em 1fr / 1fr;
    }
    #about-me > div {
        padding: 0.2em;
    }
    #about-me > ul {
        padding: 0.5em;
    }
}
/* Skills */
#skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
#skill-ai, #skill-desktop {
    grid-column: span 2;
}
.skill{
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #252525;
    border-width: 1rem;
    border-style: solid;
}
.skill:nth-child(2n){
    border-color: #400;
}
.skill:nth-child(2n+1){
    border-color: #040;
}
h3 {
    font-size: 2rem;
}
@media (max-width: 500px) {
    h3 {
        font-size: 1.5rem;
    }
}
.skill > p:first-of-type{
    padding: 2rem 0;
}
.skill ul {
    margin-top: 1em;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skill li {
    display: inline-block;
    margin: 0.5em 1em;
    background-color: black; /*hsl(var(--bg-H), var(--bg-S), var(--bg-L));*/
}
.skill li a{
    display: inline-block;
    padding: 0.5rem;
}
@media (min-width: 1300px) and (max-width: 1500px) {
    #skills {
        grid-template-columns: 1fr 1fr;
    }
    #skill-bazy-danych {
        grid-column: span 2;
    }
    #skill-desktop {
        grid-area: span 2 / span 1;
        justify-content: space-around;
    }
    #skill-desktop ul {
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width: 1300px) {
    #skills {
        grid-template-columns: 1fr;
    }
    #skill-ai, #skill-desktop {
        grid-area: span 1 / span 1;
    }
}
@media (max-width: 500px) {
    .skill{
        padding: 0.5rem;
        border-width: 0.5rem;
    }
}
/* Projects */
#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center;
}
#projects > section{
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#projects > section:nth-of-type(4n+1){
    background-color: #4d4500;
}
#projects > section:nth-of-type(4n+2){
    background-color: rgb(7, 17, 112);
}
#projects > section:nth-of-type(4n+3){
    background-color: rgb(7, 17, 112);
}
#projects > section:nth-of-type(4n){
    background-color: #4d4500;
}
p.date {
    color: #eeeeee;
    line-height: 1.2;
}
.date span {
    white-space: nowrap;
}
#projects > section > p:nth-child(2) {
    text-align: justify;
    text-align-last: center;
}
#projects > section > header {
    margin-bottom: 3em;
}
.used-skills {
    list-style-type: none;
    margin-bottom: 2em;
}
.used-skills > li{
    display: inline-block;
    margin: 0.3em 1em;
    background-color: hsl(var(--bg-H), var(--bg-S), var(--bg-L));
}
.used-skills > li > a{
    display: block;
    padding: 0.5rem;
}
#projects > section:last-child {
    align-self: center;
}
p > a {
    text-decoration: underline;
}
@media (max-width: 1500px) {
    #projects {
        grid-template-columns: 1fr;
    }
    #projects > section:nth-of-type(2n+1){
        background-color: #726707;
    }
    #projects > section:nth-of-type(2n){
        background-color: rgb(7, 17, 112);
    }
}
@media (max-width: 650px) {
    article > section > div{
        padding: 1rem 1rem;
    }
}
@media (max-width: 500px) {
    article > section > div{
        padding: 1rem 1rem;
    }
    #projects > section{
        padding: 1rem;
    }
    
}
@media (max-width: 300px) {
    #projects button {
        padding: calc(0.3rem + 3px) calc(0.6rem + 3px);
        font-size: 1.2rem;
    }
    #projects button:hover {
        padding: 0.3rem 0.6rem;
    }
}
/* Contact */
#contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#contact > div {
    padding: 1rem;
}
#contact h3 {
    margin-bottom: 1rem;
}
#contact > div:first-child{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 0.2rem dotted #077;
}
#contact ul{
    list-style-type: none;
}
#contact form{
    display: flex;
    flex-direction: column;
}
#contact input{
    text-align: center;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.2rem solid #fff;
}
#contact input:focus{
    border-color: #f90;
}
#contact textarea{
    resize: none;
    font-family: inherit;
    font-size: 1rem;
    height: 7em;
    padding: 1em;
    margin: 0.5rem;
}
#contact input[type="submit"]{
    box-sizing: content-box;
    align-self: center;
    background-image: linear-gradient(to right, #f60, #f90);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 2rem;
    padding: calc(1rem + 3px) calc(2rem + 3px);
}
#contact input[type="submit"]:hover{
    color: orange;
    background: white;
    padding: 1rem 2rem;
    border: 3px solid #f90;
    cursor: pointer;
}
@media (max-width: 950px) {
    #contact {
        grid-template-columns: 1fr;
    }
    #contact > div:first-child{
        text-align: center;
        border-right: none;
        border-bottom: 0.2rem dotted #077;
    }
}
@media (max-width: 300px) {
    #contact > div {
        padding: 1rem 0;
    }
    #contact input{
        margin: 0.5rem 0;
        padding: 1rem 0;
    }
}
/* Footer */
footer {
    box-sizing: border-box;
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) + 2%));
    padding: 1rem
}