/* Zmienne globalne */
:root {
    --bg-H: 0;
    --bg-S: 0%;
    --bg-L: 15%;
    --navbar-border-color: #077;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
body {
    font-family: sans-serif;
    background-color: hsl(
        calc(var(--bg-H)), 
        calc(var(--bg-S)), 
        calc(var(--bg-L))
        );
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.6;
}
body > *{
    width: 70%;
}
body > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    background-color: hsl(
        calc(var(--bg-H)), 
        calc(var(--bg-S)), 
        calc(var(--bg-L) + 7%)
        );
}
/* Navbar */
nav {
    align-self: stretch;
}
ul.menu {
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) + 5%));
    display: flex;
    list-style-type: none;
    margin-top: 1em;
    justify-content: center;
}
ul.menu li{
    border-left: var(--navbar-border-color) dotted 0.2em;
}
ul.menu li:last-child{
    border-right: var(--navbar-border-color) dotted 0.2em;
}
.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1em;
}
.menu a:hover {
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) - 5%));
}
/* Body Header */
body > header > div {
    width: 70%;
    background-color: var(--navbar-border-color);
    padding: 5em 0 2em;
}
h1 {
    font-size: 140px;
    color: #dd0;
    letter-spacing: 0.2em;
}
body > header p{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    padding: 0 2em;
}
ul.media {
    font-size: 3rem;
    list-style-type: none;
}
ul.media li{
    display: inline;
}
ul.media a{
    
    color: white;
    text-decoration: none;
    text-align: center;
}
#contact-cv{
    display: flex;
    justify-content: space-around;
}
button{
    background-image: linear-gradient(to right, #f60, #f90);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 2em;
    padding: calc(1rem + 3px) calc(2rem + 3px);
    text-decoration: none;
}
button:hover{
    color: orange;
    background: white;
    padding: 1rem 2rem;
    border: 3px solid #f90;
    pointer-events: inherit;
    cursor: pointer;
}
@media (max-width: 1100px){
    body > * {
        width: 100%;
    }
    body > header > div {
        width: 100%;
    }
    ul.media {
        margin: 1em 0;
    }
}
@media (max-width: 750px){
    h1 {
        font-size: 80px;
    }
    button {
        font-size: 1.5rem;
    }
    
}
/* Sections */
article > section {
    box-sizing: border-box;
    margin: 3rem 0;
}
article > section > div{
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) + 2%));
    padding: 1em 3em;
}
h2 {
    font-size: 3rem;
}
/* About me */
#about-me {
    display: grid;
    grid-template-columns: 16em 1fr;
}
#about-me > ul {
    list-style-type: none;
    text-align: left;
    align-self: center;
}
#about-me li span {
    color: orange;
}
#about-me > div {
    box-sizing: border-box;
    padding: 1em;
    text-align: justify;
    border-left: 0.2rem dotted #077;
}
/* Skills */
#skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#skills > div{
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#skills > div:nth-child(2n){
    background-color: #400;
}
#skills > div:nth-child(2n+1){
    background-color: #040;
}
h3 {
    font-size: 2rem;
}
#skills > div > p:first-of-type{
    padding: 2rem 0;
}
#skills ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#skills li {
    display: inline-block;
    margin: 0.3em 1em;
    background-color: hsl(var(--bg-H), var(--bg-S), var(--bg-L));
}
#skills li a{
    display: inline-block;
    padding: 0.5rem;
}
/* Projects */
#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
#projects > section{
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#projects > section:nth-of-type(4n+1){
    background-color: rgb(156, 146, 6);
}
#projects > section:nth-of-type(4n+2){
    background-color: rgb(7, 17, 112);
}
#projects > section:nth-of-type(4n+3){
    background-color: rgb(7, 17, 112);
}
#projects > section:nth-of-type(4n){
    background-color: rgb(156, 146, 6);
}
p.date {
    color: lightgrey;
    line-height: 1;
}
#projects > section > p:nth-child(2) {
    text-align: justify;
    text-align-last: center;
}
#projects > section > header {
    margin-bottom: 3em;
}
.used-skills {
    list-style-type: none;
    margin-bottom: 2em;
}
.used-skills > li{
    display: inline-block;
    margin: 0.3em 1em;
    background-color: hsl(var(--bg-H), var(--bg-S), var(--bg-L));
}
.used-skills > li > a{
    display: block;
    padding: 0.5rem;
}
#projects > section:last-child {
    align-self: center;
}
/* Contact */
#contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#contact > div {
    padding: 1rem;
}
#contact h3 {
    margin-bottom: 1rem;
}
#contact > div:first-child{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 0.2rem dotted #077;
}
#contact ul{
    list-style-type: none;
    text-align: left;
}
#contact form{
    display: flex;
    flex-direction: column;
}
#contact input{
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.2rem solid #fff;
}
#contact input:focus{
    border-color: #f90;
}
#contact textarea{
    resize: none;
    font-family: inherit;
    height: 7em;
    padding: 1em;
    margin: 0.5rem;
}
#contact input[type="submit"]{
    box-sizing: content-box;
    align-self: center;
    background-image: linear-gradient(to right, #f60, #f90);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 2rem;
    padding: calc(1rem + 3px) calc(2rem + 3px);
}
#contact input[type="submit"]:hover{
    color: orange;
    background: white;
    padding: 1rem 2rem;
    border: 3px solid #f90;
    cursor: pointer;
}
footer {
    box-sizing: border-box;
    background-color: hsl(var(--bg-H), var(--bg-S), calc(var(--bg-L) + 2%));
    padding: 1rem
}